MYSQL_HOST=10.153.73.203
MYSQL_PORT=3306
MYSQL_USER=a3_app
MYSQL_PASSWORD=1
MYSQL_DATABASE=a3_learning_agent
MYSQL_CHARSET=utf8mb4

APP_HOST=0.0.0.0
APP_PORT=5000
APP_DEBUG=true
FLASK_ENV=development

MOCK_AI=false
JWT_SECRET_KEY=a3_learner_2026_softcup
JWT_EXPIRE_HOURS=24

RAG_COLLECTION_NAME=software_engineering_knowledge
GENERATED_KNOWLEDGE_DIR=E:\知识问答\A3_Leraning_Agent-main\rag_data\generated_knowledge\batch_outputs_llm_vision
XFYUN_APP_ID=66f8e566
XFYUN_API_KEY=ZJlyCKFiNaJKxkGLsSLZ:iAHRvbhBJmMnIpvmUvCd
XFYUN_API_SECRET=ODkxZWM4NjZiMWNlMTUxOGNhMmViOTJk
XFYUN_SPARK_URL=https://spark-api-open.xf-yun.com/agent/v1/chat/completions
XFYUN_SPARK_DOMAIN=spark-x
